<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<script type="importmap">
			{
			  "imports": {
				"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
			  }
			}
		</script>
	</head>
	<body>
		{{ content }}
	</body>
	<script type="module">
		import { createApp } from "vue"
		import MyComponent from "./test.js"
		createApp(MyComponent).mount("#app")
	  </script>
</html>